<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8" />
</head>
<body>
	<div align="center">
		<div sec:authorize="isAuthenticated()">
			Welcome <b><span sec:authentication="name"></span></b> 
			&nbsp; 
			<span sec:authentication="principal.authorities">Roles</span> 

			<div>&nbsp;&nbsp;</div> 
			
			<a href="javascript: logoutForm.submit()">Logout</a>

			<form name="logoutForm" th:action="@{/do_logout}" method="post" th:hidden="true">
				<input type="submit" value="Logout" />
			</form>
		</div>

		<h1>Product List</h1>
		<a href="/new">Create New Products</a> <br /> <br />
		<table border="1" cellpadding="10">
			<thead>
				<tr>
					<th>Product ID</th>
					<th>Name</th>
					<th>Brand</th>
					<th>Made In</th>
					<th>Price</th>
					<th sec:authorize="hasAnyAuthority('ADMIN', 'EDITOR')">Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="product : ${listProducts}">
					<td th:text="${product.id}">Product ID</td>
					<td th:text="${product.name}">Name</td>
					<td th:text="${product.brand}">Brand</td>
					<td th:text="${product.madein}">Made in</td>
					<td th:text="${product.price}">Price</td>
					<td sec:authorize="hasAnyAuthority('ADMIN', 'EDITOR')"><a
						th:href="@{'/edit/' + ${product.id}}">Edit</a> &nbsp;&nbsp;&nbsp;
						<a sec:authorize="hasAnyAuthority('ADMIN')"
						th:href="@{'/delete/' + ${product.id}}">Delete</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>